<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div align="center">
   <h1 style="font-weight: bold;">Bem Vindo</h1>
   <br/>
     <img src="app/imagens/prefeitura-godoy-moreira.jpg" alt="Generic placeholder image" width="200" height="220"/>
</div>
<hr class="featurette-divider"/>
<footer align="center">
     <p>&copy; 2017 Todos os direitos reservados a Prefeitura Municipal de Godoy Moreira &middot;</p>
</footer> 
<div id="rodape_software">
     <h3 align="center">Prefeitura Municipal</h3>
</div>
