<style>
em{
	color: red;
}

</style>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container"> 
 <h3 class="well lead" align="center">Novo Maquinario</h3>
  <div class="text-right">
       <button type="button" class="btn btn-success btn-sm">
		 <span class="glyphicon glyphicon-plus"></span> Maquinarios Registrados
	   </button>
  </div>
  <br/>
  <hr class="featurette-divider"/>   
  <br/>
  <form name="dados" id="cadastroAtendimento" ng-submit="saveMachine()" class="alert alert-warning" role="alert"> 
   <div class="row">
     <div class="col-sm-4 col-md-4">
         <div class="form-group" ng-class="{ 'has-error': dados.day_attendance.$invalid && dados.day_attendance.$dirty }">
           <label for="diaAtendimento" class="required">Descrição<em class="asterisco">*</em></label>
           <input type="text" required="required" class="form-control" ng-model="machine.description" name="day_attendance" id="dayAttendance" placeholder="Informe a descrição">
        </div>
     </div>
     <div class="col-sm-4 col-md-4">
        <div class="form-group"  ng-class="{ 'has-error': dados.time_attendance.$invalid && dados.time_attendance.$dirty }">
           <label for="horaAtendimento" class="required">Ano<em class="asterisco">*</em></label>
           <input type="text" class="form-control" ng-model="machine.yearMachine" name="time_attendance" id="timeAttendance" placeholder="Informe o ano">
        </div>
     </div>
     <div class="col-sm-4 col-md-4">
        <div class="form-group"  ng-class="{ 'has-error': dados.time_attendance.$invalid && dados.time_attendance.$dirty }">
           <label for="horaAtendimento" class="required">Placa<em class="asterisco">*</em></label>
           <input type="text" class="form-control" ng-model="machine.board" name="time_attendance" id="timeAttendance" placeholder="Informe a placa">
        </div>
     </div>
   </div> 
  <br/>
  
  <button type="submit" ng-disabled="!machine.description" class="btn btn-primary">Salvar</button>
  <button type="submit" class="btn btn-warning">Cancelar</button>
       
  </form>
  <hr class="featurette-divider"/>
  <br>

  <footer align="center">
        <p>&copy; 2017 Todos os diretos reservados a Prefeitura Municipal &middot;</p>
  </footer>
 </div>