<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <h3 class="well lead" align="center">Pedidos Status Conclusão</h3>
    <br/>
  <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
           <input type="text" ng-model="pesquisar" class="form-control" placeholder="Pesquisar...">
       </div>
           <button type="submit" class="btn btn-primary">Pesquisar</button>
 </form> 
 <br/>
 <br/>
 <br/>
 <hr class="featurette-divider"/>
 <div id="prodFamilyAgriculture">    
 <div class="container-fluid">
   <div class="row"> 
     <div class="col-sm-4">
        <div>
           <p><h4>Pedidos(Pendentes)</h4> total: {{totPend}}  registros </p>
        </div>
     </div>
     <div class="col-sm-5">
        <div>
           <p><h4>Pedidos(Liberados)</h4> total: {{totLib}}  registros </p>
        </div>
     </div>
      <div class="col-sm-3">
        <div>
           <p><h4>Pedidos(OK)</h4> total: {{totOK}} registros </p>
        </div>
     </div>    
   </div>
  </div>
   <br/>
   <br/>
     <table align="center" class="table table-striped" id="prodFamily">
        <thead>
          <tr class="alert alert-warning">
            <th>Maquinario</th>
            <th>Tipo Serviço</th>
            <th>Dia Pedido</th>
            <th>Hora Pedido</th>
            <th>Status</th>
            <th>N: Pedido</th>
            <th>Produtor</th>
            <th>Pessoa</th>
          </tr>
        </thead> 
          <tr ng-repeat="order in orders | filter: pesquisar" >
             <td>{{order.machine.description}}</td>
             <td>
               <span ng-repeat="ts in order.typeService">{{ts}}</span>
			 </td>
             <td>{{order.dateOrder | date: 'dd/MM/yyyy'}}</td>  
             <td>{{order.timeOrder | date: 'HH:mm'}}</td>
             <td>
               <span ng-repeat="sts in order.status">{{sts}}</span>
			 </td>
			 <td>{{order.numberOrder}}</td>
			 <td>{{order.producer.name}}</td>
			 <td>{{order.people.name}}</td> 
          </tr>
     </table> 
     <br/>
     <br/>
   
   <div align="left">
        <div>
           <p><h4>Total</h4> {{tot}} registros ao todo</p>
        </div>
   </div>
</div>   
   <div style="font-weight: bold;" align="center">
	   <a href="javascript:HTMLtoPDF()">Gerar PDF</a>
	   <br/>
	   <br/>
	   <button id="btnExport" class="btn btn-primary btn-sm">Gerar Excel</button>
   </div>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <footer align="center">
      <p>&copy; 2017 Todos os direitos reservados a Prefeitura Municipal &middot;</p>
   </footer>
   
   <script>
    $(document).ready(function () {
        $("#btnExport").click(function () {
            $("#prodFamily").btechco_excelexport({
                containerid: "prodFamily"
               , datatype: $datatype.Table
               , filename: 'sample'
            });
        });
    });
</script>

</body>