<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
 <div class="container">
   <div class="form-group">
        <h3 class="well lead" align="center">Atendimentos Não Concluidos</h3>
         <div class="text-right">
            <button type="button" class="btn btn-success btn-sm" ui-sref="new-attendance-sport">
		      <span class="glyphicon glyphicon-plus"></span> Registrar Atendimento
	        </button>
         </div>
	     <br/>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                   <input type="text" ng-model="pesquisaAtendimento" class="form-control" placeholder="Pesquisar..">
                </div>
                  <button type="submit" class="btn btn-primary">Pesquisar</button>
            </form> 
      <br/>
   </div>
 </div> 
 <hr class="featurette-divider"/>
 <br/>
    <div class="container">
      <table class="table table-striped" id="idTable">
        <thead>
          <tr class="alert alert-warning">
            <th>Descrição</th>
            <th>Data Abertura</th>
            <th>Hora Abertura</th>
            <th>Status</th>
            <th>Motivo</th>
            <th></th>
            <th></th>
          </tr>
        </thead> 
          <tr ng-repeat="attendance in attendanciesNotSport | filter: pesquisaAtendimento | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" >
             <td>
               <span ng-repeat="age in attendance.typeService">{{age}}</span>
			 </td>
             <td>{{attendance.day_attendance | date: 'dd/MM/yyyy'}}</td>
             <td>{{attendance.time_attendance}}</td>           			  
			 <td>
               <span ng-repeat="sta in attendance.status">{{sta}}</span>
			 </td>
			 <td>{{attendance.cancelattionReason}}</td>   
             <td>
              <button title="Detalhes" type="button" class="btn btn-warning btn-sm"
                 data-toggle="modal" data-target="#confirmar" ng-click="selectAttendance(attendance)">
				<span class="glyphicon glyphicon-edit"></span>
			  </button>
			 </td>  
          </tr>
     </table> 
     <hr class="featurette-divider"/>            
       
   <!-- modal of details of attendance -->  
<div class="modal fade" id="confirmar" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-md">
       <div class="modal-content">
           <div class="modal-body">
              <p class="well lead" align="center">Detalhes Atendimento</p>
 <form name="dados" class="alert alert-warning" role="alert">
   <div class="row">
     <div class="col-sm-4 col-md-4">
          <div class="form-group"
	        ng-class="{ 'has-error': dados.ageMachine.$invalid && dados.ageMachine.$dirty }">
			   <label for="employee">Serviços Oferecidos<em class="asterisco">*</em></label>
			     <select multiple="multiple" class="form-control" ng-model="clickedAttendance.typeService" id="ageMachine" name="ageMachine">
				     <option value="Agendamento de Horario">Agendamento de Horario</option>     				   				 
			     </select>
	        </div>
     </div>
      <div class="col-sm-4 col-md-4">
           <div class="form-group"
	        ng-class="{ 'has-error': dados.ageMachine.$invalid && dados.ageMachine.$dirty }">
			   <label for="employee">Tipo de Campo</label>
			     <select multiple="multiple" class="form-control" ng-model="clickedAttendance.descTypeService" id="desc" name="desc">
				     <option value="Quadra Coberta(Cezarião)">Quadra Coberta(Cezarião)</option>
				     <option value="Campo Society">Campo Society</option>						     
			     </select>
	        </div>
     </div>
     <div class="col-sm-4 col-md-4">
        <div class="form-group"  ng-class="{ 'has-error': dados.details.$invalid && dados.details.$dirty }">
           <label for="Detalhes" class="required">Detalhes<em class="asterisco">*</em></label>
           <textarea type="text" required="required"  ng-model="clickedAttendance.details" name="details" id="Details" 
           class="form-control margim-bottom" rows="4" placeholder="Informe aqui os detalhes, a região, e a duração do tempo em que o maquinario estara em tal propriedade"></textarea>
        </div>
     </div>
  </div> 
  <div class="row">
     <div class="col-md-6">
        <div class="form-group">
           <label for="DiaAtendimento" class="required">Dia Atendimento<em class="asterisco">*</em></label>
           <input type="date" required="required" ng-model="clickedAttendance.day_attendance" class="form-control" id="day_attendance">
        </div>
     </div>
      <div class="col-md-6">
        <div class="form-group">
           <label for="NomeEsposa" class="required">Hora Atendimento<em class="asterisco">*</em></label>
           <input type="time" required="required" ng-model="clickedAttendance.time_attendance" id="time_attendance" class="form-control"></input>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-6">
          <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Nome Pessoa</em></label>
			       <select  multiple="multiple" class="form-control" 
			       ng-disabled="clickedAttendance.athlete" ng-model="clickedAttendance.people" id="people" name="people">
				        <option ng-repeat="people in peoplesFromSport">{{people.name}}</option>
			       </select>
	      </div>
     </div>
       <div class="col-md-6">
           <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Nome Atleta</em></label>
			       <select  multiple="multiple" class="form-control"
			       ng-disabled="clickedAttendance.people" ng-model="clickedAttendance.athlete" id="athlete" name="athlete">
				        <option ng-repeat="athlete in athletes">{{athlete.name}}</option>
			       </select>
	        </div>
      </div>
  </div>
  <div class="row">
       <div class="col-md-6">
         <div class="form-group">
           <label for="reason" class="required">Motivo Cancelamento</label>
           <textarea type="text" required="required" ng-model="clickedAttendance.cancelattionReason" id="reason" class="form-control margim-bottom" rows="4"></textarea>
        </div>
       </div>
      <div class="col-md-6">
           <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Status Atendimento<em class="asterisco">*</em></label>
			       <select required multiple="multiple" class="form-control" ng-model="clickedAttendance.status" id="status" name="status">
						<option value="Andamento">Em andamento</option>
						<option value="Não Concluido">Não concluido</option>
						<option value="Finalizado">Finalizado</option>
			       </select>
	        </div>
      </div>
  </div>     
  <button type="submit" data-dismiss="modal" class="btn btn-primary">Sair</button>
       
 </form>
     </div>
   </div>
  </div>
</div>
     <div align="left">
        <div>
           <p><h4>Total</h4> {{totNotSport}} registros ao todo</p>
        </div>
     </div>
     
     <div align="center">
        <pagination total-items="attendanciesNotSport.length" class="pagination-sm" ng-model="currentPage" items-per-page="pageSize"></pagination> 
     </div>
     <br/>
	 <br/>
	 <br/>
     <footer align="center">
        <p>&copy; 2017 Todos os direitos reservados a Prefeitura Municipal &middot;</p>
    </footer>
    
    <script>
    $('#Data').val(dateFormated);
    </script>
    </div> 