<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
 <div class="container">
   <div class="form-group">
        <h3 class="well lead" align="center">Atendimentos Não Concluidos</h3>
	     <br/>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                   <input type="text" ng-model="pesquisaAtendimento" class="form-control" placeholder="Pesquisar..">
                </div>
                  <button type="submit" class="btn btn-primary">Pesquisar</button>
            </form> 
      <br/>
   </div>
 </div> 
 <hr class="featurette-divider"/>
 <br/>
    <div class="container">
      <table class="table table-striped" id="idTable">
        <thead>
          <tr class="alert alert-warning">
            <th>Descrição</th>
            <th>Data Abertura</th>
            <th>Hora Abertura</th>
            <th>Funcionario</th>
            <th>Setor</th>
            <th>Prazo Realização</th>
            <th>Status</th>
            <th>Motivo</th>
            <th></th>
            <th></th>
          </tr>
        </thead> 
          <tr ng-repeat="attendance in attendanciesNot | filter: pesquisaAtendimento | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" >
             <td>
               <span ng-repeat="age in attendance.typeService">{{age}}</span>
			 </td>
             <td>{{attendance.day_attendance | date: 'dd/MM/yyyy'}}</td>
             <td>{{attendance.time_attendance | date: 'HH:mm'}}</td>           
			 <td>
               <span ng-repeat="emp in attendance.nameEmployee">{{emp}}</span>
			 </td>
			 <td>{{attendance.sector}}</td>
			 <td>{{attendance.deadline}}</td>  
			 <td>
               <span ng-repeat="sta in attendance.status">{{sta}}</span>
			 </td>
			 <td>{{attendance.cancelattionReason}}</td>   
             <td>
              <button title="Detalhes" type="button" class="btn btn-warning btn-sm"
                 data-toggle="modal" data-target="#confirmar" ng-click="selectAttendance(attendance)">
				<span class="glyphicon glyphicon-edit"></span>
			  </button>
			 </td>  
          </tr>
     </table> 
     <hr class="featurette-divider"/>            
       
   <!-- modal of details of attendance -->  
<div class="modal fade" id="confirmar" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-md">
       <div class="modal-content">
           <div class="modal-body">
              <p class="well lead" align="center">Detalhes Atendimento</p>
 <form name="dados" class="alert alert-warning" role="alert">
   <div class="row">
     <div class="col-sm-4 col-md-4">
           <div class="form-group"
	        ng-class="{ 'has-error': dados.ageMachine.$invalid && dados.ageMachine.$dirty }">
			   <label for="employee">Serviços Oferecidos<em class="asterisco">*</em></label>
			     <select required multiple="multiple" class="form-control" ng-model="clickedAttendance.typeService" id="typeService" name="typeService">
				     <option value="Agendamento de Maquinario">Agendamento de Maquinario</option>
				      <option value="Assistência Técnica">Assistência Técnica</option>					 					 
			     </select>
	        </div>
     </div>
     <div class="col-sm-4 col-md-4">
           <div class="form-group"
	        ng-class="{ 'has-error': dados.ageMachine.$invalid && dados.ageMachine.$dirty }">
			   <label for="employee">Descrição Maquinario<em class="asterisco">*</em></label>
			     <select required multiple="multiple" class="form-control" ng-disabled="!clickedAttendance.descTypeService" ng-model="clickedAttendance.descTypeService" id="typeS" name="typeS">
				     <option value="Maquinario Patrola">Maquinario Patrola</option>
				     <option value="Maquinario Retro Escavadeira">Maquinario Retro Escavadeira</option>		
				     <option value="Maquinario Pazinha">Maquinario Pazinha</option>		
				     <option value="Maquinario Trator Esteira">Maquinario Trator Esteira</option>				 
			     </select>
	        </div>
     </div>
     <div class="col-sm-4 col-md-4">
        <div class="form-group"  ng-class="{ 'has-error': dados.details.$invalid && dados.details.$dirty }">
           <label for="Detalhes" class="required">Detalhes<em class="asterisco">*</em></label>
           <textarea type="text" required="required" ng-disabled="!clickedAttendance.ageMachine" ng-model="clickedAttendance.details" name="details" id="Details" 
           class="form-control margim-bottom" rows="4" placeholder="Informe aqui os detalhes, a região, e a duração do tempo em que o maquinario estara em tal propriedade"></textarea>
        </div>
     </div>
  </div> 
  <div class="row">
     <div class="col-md-4">
        <div class="form-group">
           <label for="DiaAtendimento" class="required">Dia Atendimento<em class="asterisco">*</em></label>
           <input type="date" required="required" ng-model="clickedAttendance.day_attendance" class="form-control" id="day_attendance">
        </div>
     </div>
      <div class="col-md-4">
        <div class="form-group">
           <label for="NomeEsposa" class="required">Hora Atendimento<em class="asterisco">*</em></label>
           <input type="time" required="required" ng-model="clickedAttendance.time_attendance" id="time_attendance" class="form-control"></input>
        </div>
     </div>
       <div class="col-md-4">
        <div class="form-group"
	        ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			   <label for="employee">Funcionario<em class="asterisco">*</em></label>
			     <select required multiple="multiple" class="form-control" ng-model="clickedAttendance.nameEmployee" id="employee" name="employee">
				     <option value="Thales">Thales</option>
					 <option value="Beatriz">Beatriz</option>
					 <option value="Denis">Denis</option>
					 <option value="Nei">Nei</option>
					 <option value="Darcy">Darcy</option>
					 <option value="Sergio">Sergio</option>
					 <option value="Amarildo">Amarildo</option>
			     </select>
	        </div>
       </div>
  </div>
  <div class="row">
     <div class="col-md-6">
          <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Nome Pessoa</em></label>
			       <select  multiple="multiple" class="form-control" 
			       ng-disabled="clickedAttendance.producer" ng-model="clickedAttendance.people" id="people" name="people">
				        <option ng-repeat="people in peoplesFromAgriculture">{{people.name}}</option>
			       </select>
	      </div>
     </div>
       <div class="col-md-6">
           <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Nome Produtor</em></label>
			       <select  multiple="multiple" class="form-control"
			       ng-disabled="clickedAttendance.people" ng-model="clickedAttendance.producer" id="producer" name="producer">
				        <option ng-repeat="producer in producers">{{producer.name}}</option>
			       </select>
	        </div>
      </div>
  </div>
  <div class="row">
       <div class="col-md-4">
         <div class="form-group"  ng-class="{ 'has-error': dados.sexo.$invalid && dados.sexo.$dirty }">
           <label for="sexo" class="required">Setor<em class="asterisco">*</em></label>
           <br/> 
           <label class="rario-inline">Agricultura</label>
           <input required="required" type="radio" name="sector" ng-model="clickedAttendance.sector" value="AGRICULTURA">         
        </div>
       </div>
      <div class="col-md-4">
           <div class="form-group"
			  ng-class="{ 'has-error': dados.name.$invalid && dados.name.$dirty }">
			    <label for="status">Status Atendimento<em class="asterisco">*</em></label>
			       <select required multiple="multiple" class="form-control" ng-model="clickedAttendance.status" id="status" name="status">
						<option value="Andamento">Em andamento</option>
						<option value="Não Concluido">Não concluido</option>
						<option value="Finalizado">Finalizado</option>
			       </select>
	        </div>
      </div>
        <div class="col-md-4">
         <div class="form-group"  ng-class="{ 'has-error': dados.details.$invalid && dados.details.$dirty }">
           <label for="Detalhes" class="required">Motivo<em class="asterisco">*</em></label>
           <textarea type="text" required="required" ng-disabled="!attendance.ageMachine" ng-model="clickedAttendance.cancelattionReason" name="details" id="Details" 
           class="form-control margim-bottom" rows="4" placeholder="Informe aqui os detalhes, a região, e a duração do tempo em que o maquinario estara em tal propriedade"></textarea>
        </div>
       </div>
  </div>     
  <button type="submit" data-dismiss="modal" class="btn btn-primary">Sair</button>
       
 </form>
     </div>
   </div>
  </div>
</div>
     <div align="left">
        <div>
           <p><h4>Total</h4> {{totNot}} registros ao todo</p>
        </div>
     </div>
     
     <div align="center">
        <pagination total-items="attendanciesNot.length" class="pagination-sm" ng-model="currentPage" items-per-page="pageSize"></pagination> 
     </div>
     <br/>
	 <br/>
	 <br/>
     <footer align="center">
        <p>&copy; 2017 Todos os direitos reservados a Prefeitura Municipal &middot;</p>
    </footer>
    
    <script>
    $('#Data').val(dateFormated);
    </script>
    </div> 